In [3]:
'''

multiline comments
This is for beginer 

'''

# single line comments
# esc + a - add cell

'\n\nmultiline comments\nThis is for beginer \n\n'

# Various Datatypes in Python

## Numbers

In [4]:
2 + 1

3

In [5]:
2 *2

4

In [6]:
2 / 4

0.5

In [7]:
2 ** 4

16

In [8]:
5 % 4

1

In [9]:
10 * 'Heer'

'HeerHeerHeerHeerHeerHeerHeerHeerHeerHeer'

In [ ]:
## check the data types

In [10]:
type(1)

int

In [11]:
type(10.0)

float

In [12]:
type('Hello')

str

In [13]:
type(True)

bool

# # Strings

In [14]:
"Hello"

'Hello'

In [15]:
'Heer Vankawala'

'Heer Vankawala'

In [16]:
type('Heer Vankawala')

str

# # Variable Assignment

In [18]:
#Syntax
# var_name = values

a=10

In [19]:
type(a)

int

In [20]:
a = 'Heer'

In [21]:
type(a)

str

In [22]:
## Mathematical operations with variable assignment

a = 10
b = 20

In [25]:
print(a * b)
print(a / b)
print(a % b)
print((a * b)+ (a / b)) # BODMAS Rules - brackets,off,division,multi,add,sub

200
0.5
10
200.5

In [26]:
# Various ways of printing

print("Hello") # if you want to learn something regarding inbuilt function then before brackets just press shift + TAB

Hello

In [2]:
first_name = 'Heer'
Last_name = 'Vankawala'

In [28]:
print("My first name is {} and last name is {}".format(first_name,Last_name)) #ordering is very imp

My first name is Heer and last name is Vankawala

In [29]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=Last_name)) #in this we can change order also

My first name is Heer and last name is Vankawala

In [30]:
print("My first name is {first} and last name is {last}".format(last=Last_name,first=first_name))

My first name is Heer and last name is Vankawala

In [3]:
len(first_name)

4

In [31]:
len('Heer') #counting the char - giving length

4

# # #  String In-built functions

In [32]:
str1 = "Heer Vankawala"

In [33]:
print(str1.isalnum()) # check if all chars are numbers or alphabets
print(str1.isalpha()) # check if all char in string are alphabetic
print(str1.isdigit()) # test if string contains digit
print(str1.istitle()) # check if string contains title word(1st case in title-upper like Heer and Vankawala)
print(str1.isupper()) # check if string contains upper case
print(str1.islower()) # check if string contains lower case
print(str1.isspace()) # test if string contains spaces
print(str1.endswith('l')) # test if string endswith a l
print(str1.startswith('H')) # test if string starts with a H

False
False
False
True
False
False
False
False
True

# # Boolean and Logical Operators

In [34]:
True and True

True

In [35]:
True and False

False

In [36]:
True or False

True

In [37]:
False or False

False

In [4]:
type(True)

bool

In [12]:
str_example = 'Hello World'
my_str = 'Krish'

In [15]:
print(my_str.isalpha())

True

In [39]:
my_str.isalpha() or str_example.isnum()

True

# Lists

- A list is a data structure  in Python  that is mutable, or changable, ordered sequence of elements.Each Element or value that is inside of a list is called an item. Just as strings are defined as characters between qotes, lists are defined by having values between square brackets [].

In [16]:
lst_example = [] # creating an empty list

In [42]:
type([])

list

In [43]:
lst = list() # another way of creating an empty list

In [44]:
type(lst)

list

In [17]:
lst1 = ['Maths', 'Chem', 200, 300, 301.1]

In [18]:
len(lst1)

5

In [19]:
type(lst1)

list

# Append

In [49]:
# append is used to add elements in the list at last

lst1.append("Heer")

In [50]:
lst1

['Maths', 'Chem', 200, 300, 301.1, 'Heer']

In [52]:
# Indexing in list

lst1[0]
lst1[3]

300

In [53]:
lst1[:] # print all elements

['Maths', 'Chem', 200, 300, 301.1, 'Heer']

In [55]:
lst1[1 :] #from chem to end of list

['Chem', 200, 300, 301.1, 'Heer']

In [56]:
lst1[1 :5] #end range will not include 5th value , heer will not come

['Chem', 200, 300, 301.1]

In [59]:
lst1.append(["John", 101]) #append nested list
lst1

['Maths',
 'Chem',
 200,
 300,
 301.1,
 'Heer',
 ['John', 101],
 ['John', 101],
 ['John', 101]]

# Insert

In [60]:
# insert in specific order

lst1.insert(2, 'Vankawala')

In [61]:
lst1

['Maths',
 'Chem',
 'Vankawala',
 200,
 300,
 301.1,
 'Heer',
 ['John', 101],
 ['John', 101],
 ['John', 101]]

In [67]:
lst1.insert(2, 'Heer')
lst1

['Maths',
 'Chem',
 'Heer',
 'Heer',
 'Vankawala',
 200,
 300,
 301.1,
 'Heer',
 ['John', 101],
 ['John', 101],
 ['John', 101]]

# Extend Method

In [63]:
lst2 = [1,2,3,[4,5]]

In [66]:
lst2

[1, 2, 3, [4, 5], 6, 7]

In [68]:
lst2.extend([8,9]) # added as a seperate elements instead of nestead list
lst2

[1, 2, 3, [4, 5], 6, 7, 8, 9]

# Various operation that we can perform in list

In [91]:
lst3 = [1,2,3,4,5]
lst3

[1, 2, 3, 4, 5]

In [92]:
sum(lst3)

15

In [93]:
lst3*3 #it will append whole list multiply by 3, print 3 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Pop method

In [71]:
lst3.pop() #pickup element from specific index , if not given index then bydefault pickup or remove last element like stack

5

In [72]:
lst3

[1, 2, 3, 4]

In [73]:
lst3.pop(0) # remove 1st element

1

In [74]:
lst3

[2, 3, 4]

# count()
- Caculates total occurance of given element of list

In [22]:
lst4 = [1,1,2,3,4,5]
lst4.count(1)

2

In [81]:
#len - calculates total length of a list
len(lst4)

5

In [86]:
# index - returns the index of first occurance, start and end index are not necessary parameters

lst4.index(1,0,4) # value is 1 which will search from index 0 to 4

0

In [25]:
lst4.index(4,0,3)

ValueError: 4 is not in list

In [87]:
min(lst4)

1

In [88]:
max(lst4)

5