# Sets
- A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.Python's set class represents the mathematical motion of a set. This is based on a data structure known as a hash table.

In [1]:
## defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {"Avengers", "Ironman", 'Hitman'}
print(set_var)
type(set_var)

{'Ironman', 'Avengers', 'Hitman'}

set

In [3]:
set_var1 = {1,2,3,4,2,3} #removes duplicates
set_var1

{1, 2, 3, 4}

In [5]:
#Indexing

set_var[0] # does not support index

TypeError: 'set' object is not subscriptable

In [4]:
## Inbuilt functions in sets

set_var.add("Hulk")

In [6]:
print(set_var)

{'Ironman', 'Avengers', 'Hitman', 'Hulk'}

In [2]:
set1 = {"Avengers", "Ironman", 'Hitman'}
set2 = {"Avengers", "Ironman", 'Hitman', 'Hulk2'}

In [12]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [15]:
set2.intersection_update(set1) # this is to update the intersection changes in set2 which means Hulk2 got removed
set2

{'Avengers', 'Hitman', 'Ironman'}

In [17]:
set2.add("Hulk2")
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [19]:
# difference - from set 2 removing all elemnents which are common in set 1

set2.difference(set1)

{'Hulk2'}

In [20]:
set2 # after getting difference , not updated on set - all elements present in set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [21]:
# Difference_update , basically after taking difference on sets it will update values in set

set2.difference_update(set1) # remove common elements

In [22]:
print(set2)

{'Hulk2'}

# Dictionaries
- A Dictionary is a collection which is unordered, changable and indexed. In python dictionaries are written with curly brackets , and they have keys and values.

In [21]:
dic = {}
type(dic)

dict

In [25]:
# inbuilt function dict()

type(dict())

dict

In [23]:
dic = {1,2,3,4,5} # in dic we can not add values like this we need to add key value pair
type(dic)

set

In [24]:
## Let create a dictionary

my_dict = {"Car1" : "Audi", "Car2" : "BMW", "Car3" : "Mercedies Benz"}
type(my_dict)

dict

In [26]:
## Access the item value based on keys

my_dict['Car1']

'Audi'

In [27]:
# We can even loop through the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [28]:
# We can even loop through the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedies Benz

In [29]:
# We can also check both keys and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedies Benz')

In [30]:
## Adding items in dictionaries

my_dict['Car4'] = 'Audi 2.0'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedies Benz', 'Car4': 'Audi 2.0'}

In [31]:
my_dict['Car1'] = 'Maruti' # car1 key value gets replaced by new one
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedies Benz', 'Car4': 'Audi 2.0'}

# Nested Dictionary

In [32]:
car1_model = {'Mercedies': 1960}
car2_model = {'Audi' : 1970}
car3_model = {'Ambassador': 1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
print(car_type)

{'car1': {'Mercedies': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [33]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedies': 1960}

In [34]:
print(car_type['car1']['Mercedies'])

1960

# Tuples

In [35]:
## Create an empty tuple - once defined tuples then you can't change an element in tuple

my_tuple=tuple()
type(my_tuple)

tuple

In [36]:
my_tuple = ()
type(my_tuple)

tuple

In [24]:
my_tuple=("Heer", "Ankur", "Kush") # elements won't get replaced but whole tuple can be changed
my_tuple[0]

'Heer'

In [38]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Heer', 'Ankur', 'Sid')

In [39]:
## Inbuilt function

my_tuple.count('Heer')

1

In [40]:
my_tuple = ('Hello', 'World')
print(my_tuple)

('Hello', 'World')

In [43]:
my_tuple=("Heer", "Ankur", "Sid","Heer")

In [44]:
my_tuple.count('Heer')

2

In [46]:
my_tuple.index('Heer') #Gives index of 1st occurance

0

In [47]:
my_tuple.index('Sid')

2